.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 79vh;
}

.home__background {
  z-index: -1;
  filter: brightness(75%);
}

.upper {
  display: flex;
  justify-content: space-between;
}
